<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Faculdade Vincit</mat-card-title>
    <mat-card-subtitle>A melhor faculdade do Brasil </mat-card-subtitle>
  </mat-card-header>
  <img class="img1" mat-card-image src="assets/img/vincit2.png" alt="Photo of Vincit">
  <mat-card-content>
    <p>
      Somos uma Instituição de Ensino Superior especializada na área de Tecnologia da Informação com a graduação em Análise e Desenvolvimento de Sistemas, além de diversos cursos de pós-graduação e livres na modalidade online com sede na cidade de Maringá-PR.
      <br><br>
      Esse é um sistema de teste para simular um site academico desenvolvido em Angular 14.
      <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
      <br /> At.te: Bruno Piovan
    </p>
  </mat-card-content>
  <img class="img2" src="assets/img/vincit3.png" alt="">
</mat-card>
