<div class="card-container">
  <mat-card class="card" *ngFor="let graduacao of graduacoes">
    <mat-card-title-group>
      <mat-card-title>{{ graduacao.nome }}</mat-card-title>
      <mat-card-subtitle>graduação</mat-card-subtitle>
      <img mat-card-lg-image [src]="graduacao.imagem" alt="{{ graduacao.nome }}" />
    </mat-card-title-group>
    <mat-card-content>
      {{ graduacao.descricao }}
    </mat-card-content>
    <button mat-raised-button color="warn"><a>Ver Mais</a></button>
  </mat-card>
</div>

