
<div class="card-container">
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Engenharia de Software</mat-card-title>
      <mat-card-subtitle>graduação</mat-card-subtitle>
      <img mat-card-lg-image src="assets/img/tecnologia.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      O curso de Engenharia de Software prepara profissionais para projetar, desenvolver e gerenciar sistemas complexos de software, utilizando metodologias modernas e boas práticas de programação. Foca na criação de soluções eficientes e escaláveis para diferentes setores da indústria.
    </mat-card-content>
    <button mat-raised-button color="warn">Ver Mais</button>
  </mat-card>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Analise e desenvolvimento de sistemas</mat-card-title>
      <mat-card-subtitle>graduação</mat-card-subtitle>
      <img mat-card-lg-image src="assets/img/tecnologia.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      Este curso forma profissionais capacitados para desenvolver, analisar e gerenciar sistemas computacionais. A ênfase está em entender as necessidades dos usuários e criar soluções tecnológicas através de programação e análise de dados.
    </mat-card-content>
    <button mat-raised-button color="warn">Ver Mais</button>
  </mat-card>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Ciencias da Computaçao</mat-card-title>
      <mat-card-subtitle>graduação</mat-card-subtitle>
      <img mat-card-lg-image src="assets/img/tecnologia.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      O curso de Ciências da Computação oferece uma sólida formação em fundamentos teóricos e práticos da computação. Os alunos aprendem sobre algoritmos, inteligência artificial, redes, bancos de dados e programação, preparando-os para inovar e resolver problemas tecnológicos.
    </mat-card-content>
    <button mat-raised-button color="warn">Ver Mais</button>
  </mat-card>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Sistemas da informacao</mat-card-title>
      <mat-card-subtitle>graduação</mat-card-subtitle>
      <img mat-card-lg-image src="assets/img/tecnologia.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      O curso de Sistemas de Informação capacita os alunos a desenvolver e gerenciar soluções tecnológicas para empresas. Foca em integrar sistemas computacionais e processos de negócios, formando profissionais capazes de administrar e implementar tecnologias que otimizem operações.
    </mat-card-content>
    <button mat-raised-button color="warn">Ver Mais</button>
  </mat-card>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Design</mat-card-title>
      <mat-card-subtitle>graduação</mat-card-subtitle>
      <img mat-card-lg-image src="assets/img/tecnologia.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      O curso de Design forma profissionais criativos e técnicos, capazes de criar soluções visuais e funcionais para diversos meios. A ênfase está no desenvolvimento de habilidades em design gráfico, interface de usuário, branding e usabilidade para atender às necessidades dos usuários e do mercado.
    </mat-card-content>
    <button mat-raised-button color="warn">Ver Mais</button>
  </mat-card>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Engenharia da Computacao</mat-card-title>
      <mat-card-subtitle>graduação</mat-card-subtitle>
      <img mat-card-lg-image src="assets/img/tecnologia.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      O curso de Design forma profissionais criativos e técnicos, capazes de criar soluções visuais e funcionais para diversos meios. A ênfase está no desenvolvimento de habilidades em design gráfico, interface de usuário, branding e usabilidade para atender às necessidades dos usuários e do mercado.
    </mat-card-content>
    <button mat-raised-button color="warn">Ver Mais</button>
  </mat-card>
</div>


