<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav mat-elevation-z8" mode="side">
    <img src="assets/img/vincit-removebg-preview.png" alt="">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="graduacao">
        <i class="material-icons">computer</i>
        Graduação
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">school</i>
        Pós-graduação
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">person</i>
        Professores
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">call</i>
        Fale conosco
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header></app-header>
    <button class="menu mat-elevation-z8" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

